node_modules

.dockerignore

Dockerfile

*.sh

.gitignore

LICENSE

README.md

.trunk/

*.zip

jest.*.js 

*.mjs

scripts/


/aws/

.github

.git

.gitignore


nginx

*.yml

*.Dockerfile
*.Dockerfile.dockerignore
Dockerfile

